@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    background-color: rgb(0, 0, 0);
}

.white {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.titulo {
    font-size: 24px;
    padding-bottom: 40px;
}
.manzana {
    font-size: 1.2rem;
}

h1 {
    transition: 1s;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: underline transparent;
}

h1:hover,
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline rgb(255, 7, 58);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    transition: box-shadow 2s ease, padding 0.8s ease;
    position: relative;
    gap: 20px;
    z-index: 1002;
}

.logo_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    padding-right: 7%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-grow: 1;
}

.menu-burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 10px;
}

nav::after {
    content: "";
    position: absolute;
    z-index: 1001;
}

h2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
}

.desplegable {
    color: #000000;
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
}

p {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#enlace_clientes {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.95rem;
    cursor: pointer;
    transition: color 0.5s, text-decoration-color 0.5s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

#enlace_clientes:hover {
    text-decoration-color: rgba(255, 7, 58, 0.8);
}

summary {
    width: auto;
    text-decoration: underline;
    text-decoration-color: transparent;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    text-align: center;
    text-decoration: underline transparent;
    transition: 0.5s;
    border-radius: 8px;
}

summary:hover {
    text-decoration-color: rgba(255, 7, 58, 0.8);
}

.fundamentos {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-left:10%;
    margin-right: 10%;
}

.box_fundamentos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.item {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.custom-icon {
    color: black;
    font-size: 48px;
    margin-bottom: 10px;
}

.item span {
    font-size: 12px;
    color: black;
}
h3 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
    justify-content: center;   
}
.creator-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    height: auto;
    margin: 0;
}
.creator-info {
    max-width: auto;
}
.creator-info img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 30%;
}

.creator-info img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.producto img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
#derechos {
    color: black;
    font-size: 14px;
    text-decoration: underline solid red;
    transition-duration: 1s;
}

#derechos:hover{
    text-decoration: underline solid black;
}

#derecho{
    color: black;
}

.footer-container .custom-icon {
    color: black;
    font-size: 25px;
}

nav::after {
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(255, 7, 58, 0.8);
}

details[open] >summary{
    transition: 1s ease;
}

.box_muestra{
    max-width: 500px;
    max-height: auto;
}

#Contactos{
    max-width: 500px;
    margin: 20 auto;
    max-width: 92.5%;
    padding: 20px;
    border: 1px solid black;
    background-color: #f9f9f9;
}

label{
    display: block;
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.main_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.enviar{
    width: 85%;
    margin:5px 0;
    background-color: #218cff;
}
.borrar{
    width: 13.5%;
    margin:5px 0;
    background-color: #d30000;
}

button{
    background-color: #007BFF;
    border: none;
    color: white;
    justify-content: center;
    cursor: pointer;
    margin: 1%;
    height: 30px;
    border-radius: 4px;
}
@media (max-width: 768px) {
    nav {
        justify-content: space-between;
    }

    nav::after {
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgba(255, 7, 58, 0.8);
    }
    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 10px 0;
        padding-top: 15px;
        padding-bottom: 0;
        background-color: black;
    }

    .menu-burger {
        display: flex;
        padding: 10px 20px; 
        justify-content: flex-start;
        align-items: center; 
        z-index: 1003; 
    }

    .opc {
        border-bottom: 1px solid rgb(255, 255, 255); 
        width: 100%; 
        text-align: center; 
        padding-bottom: 13px;
    }

    .menu.active {
        display: flex;
    }

    .logo_nav {
        padding-left: 95px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1,h2 {
        font-size: 20px;
    }

    #enlace_clientes {
        font-size: 14px;
        text-decoration: underline red;
    }
    
    p {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 12px;
        padding: 10px;
        cursor: pointer; 
        justify-content: center;
        align-items: center;
        max-width: 600px; 
        margin: 20px auto;
        text-align: center;
    }

    summary {
        font-size: 14px;
        width: auto;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        text-align: center;
        text-decoration: underline transparent;
        transition: 0.5s;
        border-radius: 8px;
    }

    summary:hover {
        text-decoration-color: rgba(255, 7, 58, 0.8);
    }

    .custom-icon {
        color: black;
        font-size: 36px; 
        margin-bottom: 10px; 
    }

    .desplegable{
        max-width: 450px;
        border-radius: 10px;
    }

    #derechos {
        color: black;
        font-size: 14px;
        text-decoration: underline solid red;
        transition-duration: 1s;
    }
    
    #derechos:hover{
        text-decoration: underline solid black;
    }

    #derecho{
        color: black;
    }

    .fundamentos {
        margin-left:3%;
        margin-right:3%;
}
}
