/* Estilos para las páginas de iPhones */
main {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las cajas */
    margin-top: 20px;
}

.caja {
    border: 1px solid #ccc;
    padding: 20px;
    width: 40%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.3s ease; 
}


.imagen {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

h2{
    color: #ffffff;
}

h3{
    color: black;
}
.caracteristicas {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

.caja p {
    color: #000000;
}

.iPhone {
    border: 1px dashed #aaa;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #667;
}

@media (max-width: 768px) {
    
    .caja {
        border: 1px solid #ccc;
        padding: 20px;
        width: 85%;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        margin: 10px;
        border-radius: 15px;
        background-color: #fff;
        transition: transform 0.3s ease; 
    }
}