/* Estilos para las páginas de iPhones */
main {
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las cajas */
    margin-top: 20px;
}

.caja {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.3s ease; 
}

.caja:hover {
    transform: scale(1.05);
}

.imagen {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

h2, h3 {
    color: #333;
}

.caracteristicas {
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
}

.caja p {
    color: #555;
}

.iPhone {
    border: 1px dashed #aaa;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #667;
}
